{% extends "layout.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'highlight\styles\github.css' %}">
<script src="{% static 'highlight/highlight.min.js' %}"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>
<div>
    <p>{{ article.content | safe }}</p>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-between">
        <li class="page-item justify-content-start">
            {% if prevId %}
            <a class="page-link" href="/seminar_base/article/{{ prevId.id }}">前へ</a>
            {% else %}
            <a class="page-link disabled" href="#">前へ</a>
            {% endif %}
        </li>
        <li class="page-item justify-content-end">
            {% if nextId %}
            <a class="page-link" href="/seminar_base/article/{{ nextId.id }}">次へ</a>
            {% else %}
            <a class="page-link disabled" href="#">次へ</a>
            {% endif %}
        </li>
    </ul>
</nav>
<!--
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link bg-primary text-white" href="#">Previous</a>
        </li>
        <li class="page-item"><a class="page-link bg-primary text-white" href="#">Next</a></li>
    </ul>
</nav>
-->
{% endblock %}