{% extends "login_temp.html" %}

{% block title %}ログイン{% endblock %}

{% block css %}
<style>
    body {
        /*background-color: #0D6EFD;*/
        background-color: #4b78c1;

    }

    .login_form {
        margin: 0 auto;
        padding: 20px;

        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;

        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .login_btn {
        padding-left: 70px;
        padding-right: 70px
    }

    .image_icon {
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    認証に失敗しました。
</div>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <div class="login_form card">
        <div class="mb-3 d-flex justify-content-center">
            <img src="/static/img/logo.png" width="300px" alt="SeminarBaseロゴ" class="image_icon">
        </div>
        <div class="mb-3">
            <label for="id_username" class="form-label">ユーザー名</label>
            <input type="text" name="username" id="id_username" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">パスワード</label>
            <input type="password" name="password" id="id_password" required class="form-control">
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary login_btn">ログイン</button>
        </div>
    </div>
</form>
{% endblock %}