<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | SeminarBase</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.0-dist/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <!--
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    -->
    {% block css %}{% endblock %}
    <style>
        .container {
            margin-top: 20px;
        }

        body {
            padding-top: 50px;
            color: #0E2841;
            background-color: #fdfeff;
        }

        .userName {
            color: white;
            padding-right: 10px;
        }

        /*
        footer {
            padding: 10px;
        }
        */
    </style>
</head>

<body>
    <!--
    <script src="{% static 'js/index.js' %}"></script>
    -->
    <script src="{% static 'bootstrap-5.3.0-dist/js/bootstrap.min.js' %}"></script>
    <header>
        <nav class="navbar bg-primary fixed-top" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">SeminarBase</a>
                <div>
                    <div class="d-flex">
                        {% if request.user.is_authenticated %}
                        <span class="navbar-text userName">{{ request.user.first_name }} {{ request.user.last_name }}
                            さん</span>
                        <!--
                        <span class="navbar-text userName">{{ request.user.username }} さん</span>
                        -->
                        <button type="button" class="btn btn-primary" onclick="location.href='/logout'">ログアウト</button>
                        {% else %}
                        <button type="button" class="btn btn-primary" onclick="location.href='/login'">ログイン</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!--
    <footer class="bg-light text-center">
        <div>©2025 Q23079 All Rights Reserved.</div>
    </footer>
    -->
</body>

</html>